

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown text-border">
            <a class="logo-font font-weight-bold nav-link text-dark mx-4" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">View All</a>
            </div>
        </li>
        <li class="nav-item dropdown text-border">
            <a class="logo-font font-weight-bold nav-link text-dark mx-4" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=mens_hoodie,mens_eco_hoodie" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=mens_shirts, mens_eco_shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=mens_shirts,mens_hoodie,mens_eco_hoodie, mens_eco_shirts" class="dropdown-item">View All</a>
            </div>
            <li class="nav-item dropdown text-border">
                <a class="logo-font font-weight-bold nav-link text-dark mx-4" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Womens
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                    <a href="{% url 'products' %}?category=womens_eco_hoodie,womens_hoodie" class="dropdown-item">Hoodies</a>
                    <a href="{% url 'products' %}?category=womens_shirts,womens_eco_shirts" class="dropdown-item">Shirts</a>
                    <a href="{% url 'products' %}?category=womens_shirts,womens_eco_shirts,womens_eco_hoodie,womens_hoodie,womens_jean" class="dropdown-item">View All</a>
                </div>
            </li>
        </li>
        <li class="nav-item dropdown eco-clothing text-border">
            <a class="logo-font font-weight-bold nav-link text-dark mx-4" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Eco-Friendly
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=mens_eco_hoodie,womens_eco_hoodie"
                    class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=eco_mens_shirts,eco_womens_shirts"
                    class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=eco_mens_shirts,eco_womens_shirt,mens_eco_hoodie,womens_eco_hoodie"
                    class="dropdown-item">View All</a>
            </div>
        </li>
        <li class="nav-item dropdown text-border">
                <a class="logo-font font-weight-bold nav-link text-dark mx-4" href="#" id="specials-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Special Offers
                </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>